* {
    box-sizing: border-box;
    border:0;
    margin: 0;
}


.item {
    border: 2px solid;
    padding: 20px;
    background-color: #999999;
    margin-bottom: 10px;   
   
}

p {
    margin: 10px;
}

.nav-item {
    color: black;
}

.menu-title {
  
    font-weight: bold;
} 
